/dl

.*_history
.*info
!.terminfo

.abs
.adobe
.aria2
.cache
.dbshell
.dbus
.elinks
.gem
.getmail
.gnupg
.gomrc
.gstreamer*
.heroku
.histfile
.java
.kde4
.ledger
.lesshst
.macromedia
.mail
.mozilla
.mplayer
.msmtprc
.netrc
.npm
.nv
.opa
.pdepend
.pricedb
.rbot
.rss2email
.slocdata
.ssh
.subversion
.unison
unison.log
.weechat
.Xauthority
.zcompdump
.zdirs
.zsh-update
