/dl
/.griveshare/

.*_history
.*info
!.terminfo

.adobe
.aria2
.bundle
.bundler
.cache
.composer
.dbshell
.dbus
.elinks
.gem
.gimp-*
.gnome2
.gnupg
.gomrc
.gstreamer*
.heroku
.histfile
.icedtea
.ivy2
.java
.jist
.kde4
.lesshst
.macromedia
.mail
.mongorc.js
.mozilla
.mplayer
.msmtprc
.netrc
.node-gyp
.npm
.nv
.offlineimap
.opa
.pdepend
.pki
.pulse
.pulse-cookie
.qws
.rbot
.recently-used.xbel
.rss2email
.sbt
.slocdata
.sqldeveloper
.ssh
.subversion
.thumbnails
.unison
unison.log
.vmware
.weechat
.wine
.Xauthority
.zcompdump
.zdirs
.zsh-update
