[user]
	name = Spencer Rinehart
	email = spencer.rinehart@dominionenterprises.com
[color]
	ui = true
[diff]
	tool = vimdiff
	renames = copy
[merge]
	conflictstyle = diff3
	tool = vimdiff
[rerere]
	enabled = true
[alias]
	plog = log --graph --all --oneline --decorate
	mergelog = log --graph --oneline --decorate --merges
[heroku]
	account = personal
[push]
	default = simple
