/dl
/.griveshare/

.*_history
.*info
!.terminfo

.adobe
.aria2
.berkshelf/
.bundle
.bundler
.cache
.chef/
.compiz/
.dbshell
.dbus
.dmenu_cache
.dmrc
.elinks
.gconf/
.gem
.gimp-*
.gnome2
.gnupg
.gomrc
.gstreamer*
.heroku
.histfile
.ICEauthority
.icedtea
.icons/
.ivy2
.java
.jist
.josm/
.kde4
.lesshst
.macromedia
.mail
.mongorc.js
.mozilla
.mplayer
.msmtprc
.netrc
.node-gyp
.npm
.nv
.offlineimap
.opa
.pdepend
.pki
.pulse
.pulse-cookie
.qws
.recently-used.xbel
.rss2email
.sbt
.slocdata
.sqldeveloper
.ssh
.subversion
.supybot
.thumbnails
.unison
unison.log
.vagrant.d/
.VirtualBox/
.vmware
.weechat
.wine
.Xauthority
.xsession-errors
.xsession-errors.old
.zcompdump
.zdirs
.zsh-update
