Aspyr/
Trash/
.converted-launchers
applications/
data/
desktop-directories/
evolution/
gegl-*/
gnome-settings-daemon/
gsettings-data-convert
gvfs-metadata/
icc/
icons/
keybase/
keyrings/
mime/
recently-used.xbel
session_migration-ubuntu
telepathy/
ubuntuone/
unity-settings-daemon/
unity-webapps/
vlc/
webkit
zeitgeist/
