Aspyr/
Trash/
.converted-launchers
app-info/
applications/
data/
desktop-directories/
doc/
dwarftherapist/
evolution/
gegl-*/
gnome-settings-daemon/
gsettings-data-convert
gvfs-metadata/
heroku/
icc/
icons/
keybase/
keyrings/
mime/
recently-used.xbel
rhythmbox/
session_migration-ubuntu
spotify/
telepathy/
ubuntuone/
unity-settings-daemon/
unity-webapps/
vlc/
vulkan/
webkit
zeitgeist/
