Atom-Shell/
Trolltech.conf
chromium/
compiz-1/
dconf/
deluge/
google-googletalkplugin/
gtk-*/
hub
ibus/
inkscape/
libaccounts-glib/
libreoffice/
menus/
monitors.xml
nautilus/
pulse/
signond/
Skype/
software-center/
update-notifier/
UDP Software/
vlc/
