autostart/
Atlassian/
Atom-Shell/
Trolltech.conf
chromium/
compiz-1/
configstore/
dconf/
deluge/
evolution/
gedit/
git/
google-chrome/
google-googletalkplugin/
gtk-*/
hub
ibus/
inkscape/
KDE/
keybase/
libaccounts-glib/
libreoffice/
menus/
monitors.xml*
nautilus/
Postman/
pulse/
signond/
Skype/
software-center/
spotify/
TOra/
transmission/
unity/
update-notifier/
UDP Software/
VirtualBox/
vlc/
Yubico/
zoomus.conf
