autostart/
Atom-Shell/
Trolltech.conf
chromium/
compiz-1/
configstore/
dconf/
deluge/
git/
google-chrome/
google-googletalkplugin/
gtk-*/
hub
ibus/
inkscape/
keybase/
libaccounts-glib/
libreoffice/
menus/
monitors.xml
nautilus/
pulse/
signond/
Skype/
software-center/
update-notifier/
UDP Software/
VirtualBox/
vlc/
